<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Solidify</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/voluntario-home-publica.css' %}">
</head>
<body>
    <header>
        <div class="menu">
            <div>
                <img src="{% static 'imgs/soli.png' %}" class="logo">
            </div>
            <div>
                <nav>
                    <a href="/">Home</a>
                    <a href="{% url 'solidify:register-voluntario' %}">Cadastre-se</a>
                    <a href="{% url 'solidify:login' %}">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="x">
            <img src="{% static 'imgs/home.png' %}">
            <div>
                <div class="paragrafo-texto">
                    <h2>Seja um Voluntário!!!</h2>
                </div>
                <div class="paragrafo-texto fundo">
                    <p>
                        Seja um voluntário, pois juntos podemos construir um mundo mais solidário, justo e compassivo. Seu tempo e esforço são valiosos, e cada ação, por menor que seja, contribui para um impacto positivo duradouro. Não espere mais, comece a fazer a diferença hoje e inspire outros a se juntarem a você nessa jornada de bondade e generosidade. O mundo precisa do seu coração solidário.
                    </p>
                    <img src="{% static 'imgs/image2.png' %}" class="img-fundo">
                </div>
                <div class="paragrafo-texto">
                    <p>Clique aqui e faça seu cadastro </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="paragrafo footer">
            <p>contato@solidify.com.br</p>
            <p>Termos de Uso - Política de Privacidade</p>
        </div>
    </footer>
</body>
</html>