<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Voluntário</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/ong-register.css' %}">
</head>
<body>
    <header>
        <div class="menu">
            <div>
                <img src="{% static 'imgs/soli.png' %}" class="logo">
            </div>
            <div>
                <nav>
                    <a href="{% url '/' %}">Home</a>
                    <a>Cadastro</a>
                    <a href="{% url 'solidify:login' %}">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <form method="post" action="{% url 'solidify:save_voluntario' %}">
            {% csrf_token %}
            <div class="ong">
                <h1>ONG</h1>
                <div class="ipt-dados-ong">
                    <label for="idOngNome">Nome: <input type="text" id="idOngNome" name="ONG_NOME"></label>
                    <label for="idOngCnpj">CNPJ: <input type="text" id="idOngCnpj" name="ONG_CNPJ"></label>
                    <label for="idOngDtFundacao">Data de fundação: <input type="text" id="idOngDtFundacao" name="ONG_DT-FUNDACAO"></label>
                </div>
            </div>
            <div class="btn">
                <input type="submit" value="Cadastrar" class="cad">
            </div>
        </form>
    </main>
</body>
</html>