@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

header {
    background-color: #FF1F7D;
    width: 100vw;
    top: 0;
    left: 0;
    margin-bottom: 0vh;
}

.logo {
    width: 14vw;
    height: 8vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    height: 10vh;
    margin: 0 auto;
}

a {
    color: white;
    padding: 2vh 1.5vw;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #ff539b;
}

/*-----------------------------------------------------------*/

input {
    font-family: 'Gabarito', sans-serif;
}

main {
    width: 99vw;
    height: 10vh;
    position: absolute;
    top: 14vh;
}

.ong {
    width: 75vw;
    margin: -2vh auto 3vh;
    padding: 1vh 2vw;
    box-shadow: 4px 4px 7px gray, -4px -4px 7px gray;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 1vh 1vw;
    border-radius: 15px;
    outline: 0;
    border: 1px solid gray;
}

input[type="text"]:focus , input[type="password"]:focus , input[type="email"]:focus   {
    border: 1.8px solid #cc1fff ;
}

.busca {
    border: 1px solid gray;
    border-radius: 15px;
    padding: .5vh .3vw;
    display: inline-block;
}

input[type="search"] {
    border: 0;
    outline: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.btn-lupa {
    padding: 1vh 1vw;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
}

.adm {
    width: 75vw;
    margin: 0 auto;
    padding: 1vh 2vw;
    box-shadow: 4px 4px 7px gray, -4px -4px 7px gray;
    border-radius: 15px;
    box-sizing: border-box;
}

.ipt-dados-ong {
    margin: 2vh 0vw 1vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh 2vw;
}

.ipt-dados-endereco {
    margin: 2vh 0vw 1vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 2vw;
    align-items: center;
}

.ipt-dados-adm {
    margin: 2vh 0vw 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh 2vw;
}

#idAdmNome, #idOngNome  {
   width: 40vw;
}

#idOngEndereco, #idAdmEmail, #idAdmSenha {
   width: 30vw;
}

#idOngUF {
    padding: .5vh .3vw;
}

.btn{
    width: 75vw;
    margin: 0vh auto;
    padding: 0vh auto;
    text-align: center;
}

input[type="submit"] {
    margin: 4vh auto;
    padding: 1.5vh 1.5vw;
    color: #FF1F7D;
    background-color: white;
    border: 1px solid #FF1F7D;;
    border-radius: 5px;
    font-size:2vh 2vw;
}

input[type="submit"]:hover  {
    color: white;
    background-color: #FF1F7D;
    border: 0;
    cursor: pointer;
    box-shadow: #FF1F7D 0px 2px 20px 0px;
}
