<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Solidify</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/solidify-home.css' %}">
</head>
<body>
    <header>
        <div class="menu">
            <div>
                <img src="{% static 'imgs/soli.png' %}" class="logo">
            </div>
            <div>
                <nav>
                    <a href="">Home</a>
                    <a href="{% url 'solidify:ong_home' %}">ONG</a>
                    <a href="{% url 'solidify:voluntario_home' %}">Voluntário</a>
                    <a href="{% url 'solidify:login' %}">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="section">
            <div>
                <img src="{% static 'imgs/home_solidify.png' %}">
            </div>
            <div class="secao-texto">
                <h2>Sua presença pode contribuir para mundança um mundo melhor, conecte-se as causas que importam!</h2>
                <div class="x">
                        <div class="item">
                            <p class="texto">
                                Ao se cadastrar no Solidify, você estará dando um passo importante para fortalecer sua missão e promover um impacto ainda maior. Junte-se a nós hoje mesmo e seja parte dessa rede de solidariedade e transformação.
                                Pronto para começar? Faça parte do Solidify e leve sua causa para novos patamares.
                            </p>
                        </div>
                        <div class="item">
                            <div class="balao">
                                <p class="texto">Comece a fazer a diferença agora mesmo</p>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="paragrafo footer">
            <p>contato@solidify.com.br</p>
            <p>Termos de Uso - Política de Privacidade</p>
        </div>
    </footer>
</body>
</html>